html {
    background-image: url("presentacion-personal.jpg");
}
body {
    width: auto; 
    padding: 50px;
    font-family: 'Avenir', sans-serif; 
    color: #33475b;}
h1 {
    color: rgb(235, 247, 247);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
        color: rgb(182, 20, 20);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        line-height: 1.5;
        margin: 20px;   
}

p {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px;
}
u {
    color: rgb(182, 20, 20);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
li {
    font-size: 18px;
    line-height: 1.5;

}
a {
    color: crimson;
    text-align: center;
}
